@import url('https://fonts.googleapis.com/css?family=Quicksand|Raleway|Source+Sans+Pro:300|Playfair+Display:700');

body{
  padding-top: 5.7em;
  text-align: center;
  font-family: 'Source Sans Pro';
  max-width: 800px;
  margin: auto;
  background-color: #efefef;
  font-size: 1.3em;
}
h1{
  text-transform: uppercase;
  padding-bottom: 1.8em;
  color: #393939;
  font-family: 'Playfair Display';
  font-size: 2em;
}
ul{
  list-style: none;
  padding: 0;
}
label {
  border-left: none;
  border-right: none;
	display:block;
	font-size:1.2em;
	font-weight:bold;
	font-style:normal;
  width: 100%;
	text-decoration:none;
	text-align:center;
  padding: 10px 0;
  margin-top: 10px;
}
label:hover {
	background-color:#ffc704;
  border-radius: 10px;
}label:active {
	position:relative;
	top:1px;
}
.middle{
  width: 90%;
}
.callout{
  background-color: #fff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 4px;
  border-style: solid;
  border-color: #ffc704;
}
.response_radio{
  color: none;
}
