<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
<!--
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>
-->

<div id="app" v-cloak>

  <div class="row">
    <div class="large-12 columns">
      <h1>{{ quiz.title }}</h1>
      <h2>Quel président te convient le mieux ?</h2>

      <div class="callout">

        <div v-for="(question, index) in quiz.questions">
          <!-- Hide all questions, show only the one with index === to current question index -->
          <div v-show="index === questionIndex">
            <h3>{{ question.text }}</h3>
            <ul>
              <!-- for each response of the current question -->
              <li v-for="response in question.responses">
                <label>
								    <input type="radio"
								           v-bind:value="response.value"
								           v-bind:name="index"
								           v-model="userResponses[index]"> {{response.text}}
								  </label>
              </li>

            </ul>
            <!-- The two navigation buttons -->
            <!-- Note: prev is hidden on first question -->
            <button class="secondary button" v-if="questionIndex > 0" v-on:click="prev">
			        précédent
			      </button>
            <button class="success button" v-on:click="next">
			        continuer
			      </button>
          </div>
        </div>
        <!-- Last page, quiz is finished, display result -->
        <div v-show="questionIndex === quiz.questions.length">
          <h3>Résultat</h3>
          <p>
            Votre âme soeur est {{ score() }}
            <img v-bind:src="image"/>

          </p>

        </div>


    </div>
  </div>

</div>

</body>





<!-- SCRIPTS -->
<script src="https://unpkg.com/vue"></script>
<script src="js/vue.js"></script>
<script type="text/javascript" src="js/functions.js"></script>

</html>
